@charset "UTF-8";
@font-face {
    font-family: 'Pixel';
    src: url('../_fonts/Pixelfont.ttf');
}
@font-face {
    font-family: 'Pixelt';
    src: url('../_fonts/PixelifySans-VariableFont_wght.ttf');
}

body{
    font-family: 'Pixel';
    background-color: #D4D4D4;
}
article img{
    width: 300px;
    height: 300px;
}
article {
    font-family: 'Pixelt';
}

article h1{
    font-size: 23pt;
    color: #FFD700;
    background-color: black;
    border-radius: 4px;
    padding: 5px;
    text-align: center;
    margin-top: 50px;
}

article p{
    font-size: 15pt;
}

article h3{
    font-size: 15pt;
    margin-bottom: 20px;

}