@charset "UTF-8";
@font-face {
    font-family: 'Pixel';
    src: url('../_fonts/Pixelfont.ttf');
}
@font-face {
    font-family: 'Pixelt';
    src: url('../_fonts/PixelifySans-VariableFont_wght.ttf');
}

body{
    font-family: 'Pixelt';
    background-color:#B3B3B3;
}

section h1{
    position: relative;
    text-align: center;
    font-family: 'Pixel';
    font-size: 40pt;
    top: -80px;
    color: #FFD700;
    text-shadow: 4px 2px 2px black;
}

section#sobre article {
    position: relative;
    top: -60px;
    font-size: 18pt;
    position: relative;
}
section#sobre article p#paragrafo{
    text-indent: 25px;
}
section p.alterado{
    position: relative;
    font-size: 8pt;
    color: rgba(0,0,0,0.5);
    text-transform: uppercase;
    text-align: right;
}
footer#rodape{
    height: 50px;
    clear: both;
    background-color: #FFA500;
    border-radius: 5px;
}

footer#rodape a{
    text-decoration: none;
    color: black;
    border-radius: 3px;
    padding: 5px;

}

footer#rodape h2{
    font-family: 'Pixel';
    font-size: 20pt;
    text-align: center;
    padding: 10px;
}

footer#rodape a:hover{
    background-color: black;
    color: #FFA500;
}