@charset "UTF-8";
@font-face {
    font-family: 'Pixel';
    src: url('../_fonts/Pixelfont.ttf');
}
@font-face {
    font-family: 'Pixelt';
    src: url('../_fonts/PixelifySans-VariableFont_wght.ttf');
}
@font-face {
    font-family: 'Quick';
    src: url('../_fonts/Quicksand-VariableFont_wght.ttf');
}
body#corpo{
    background-color: #D4D4D4;
    font-family: 'Pixelt';
}

header#cabecalho h1{
    position: relative;
    top: -160px;
    left: 170px;
    font-size: 60pt;
    font-family: 'Pixel'
}
header#cabecalho img{
    width: 128px;
    height: 128px;
    top: 0px;
    left: 0px;
    position: relative;
}
header#cabecalho nav#navega ol{
    position: absolute;
    list-style: none;
    left: 600px;
    top: 0px;
}
nav#navega a{
    text-decoration: none;
    color: black;
}
nav#navega a:hover{
    color: #FFA500;
    background-color: black;
    box-shadow: 1px 1px 1px black;
    padding: 5px;
    border-radius: 3px;
}
header#cabecalho nav#navega li{
    display: inline-block;
    text-transform: uppercase;
    font-family: 'Pixel';
    font-size: 30pt;
    padding: 5px;
    margin: 30px;
    border-radius: 5px;
}
section#sessao div.intro h1{
    color: #FFA500;
    background-color: black;
    border-radius: 5px;
    padding: 5px;
    
}
section#sessao div.intro p{
    font-family: 'Quick';
    font-size: 15pt;
}
section#sessao div.formula h1#obs{
    display: inline-block;
    background-color: #FFA500;
    color: white;
    text-shadow: 1px 1px 2px black;
    border-radius: 5px;
    padding: 10px;
}
section#sessao div.formula p.exemplo{
    display: inline-flex;

}
section#sessao div.formula p#valor{
    color: black;
    text-shadow: 1px 1px 2px #FFA500;
    font-size: 20pt;
    font-family: 'Quick';
}
section#sessao div.formula p#explica{
    position: relative;
    color: rgb(103, 101, 101);
    text-shadow: 1px 1px 1px black;
    left: 40px;
    font-size: 15pt;
}
footer#rodape{
    height: 50px;
    clear: both;
    background-color: #FFA500;
    border-radius: 5px;
}

footer#rodape a{
    text-decoration: none;
    color: black;
    border-radius: 3px;
    padding: 5px;

}

footer#rodape h2{
    font-family: 'Pixel';
    font-size: 20pt;
    text-align: center;
    padding: 10px;
}

footer#rodape a:hover{
    background-color: black;
    color: #FFA500;
}